
body {
    background-color: #e7e8f6;
}

div, a, input, .button {
    font-family: "Liberation Sans", sans-serif;
    color: #1e0f5e;
    font-size: 16px;
}

input[type="text"]{
    width: 70%;
    font-size: 16px;
    margin-bottom: 4px;
}


#mainContainer, #menu, #form-div {
    background-color: #eeeef4;
    padding: 20px 150px;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
    border-color: #512DA8;
    border-style: solid;
    margin-bottom: 4px;
}

#form-div {
    display: none;
}

.book {
    background-color: #311B92;
    padding: 1px 1px 0 1px;
}

.book-cover {
    background-color: #311B92;
    padding: 0 0 1px 0;
}

.book-title {
    background-color: #512DA8;
    color: #E8EAF6;
    padding: 10px 5px;
    font-weight: bold;
    transition: 0.1s;
}

.book-title:hover {
    background-color: #6360c4;
}

.book-details {
    background-color: #e7e8f6;
    padding: 5px;
    display: none;
}

.button {
    margin-top: 4px;
    padding: 10px 25px;
    background-color: #e7e8f6;
    text-decoration: none;
    /*font-size: 16px;*/
    border: #512DA8 2px solid;
    transition: .1s;
    display: inline-block;
}

.button:hover {
    background-color: #c3c5e5;
}

.deleteButton, .editButton {
    display: inline-block;
    background-color: #e7e8f6;
    padding: 2px 4px;
    margin: -2px 10px 4px 0;
    float: right;
    cursor: pointer;
    transition: 0.1s;
    border-radius: 2px;
}

.editButton:hover, .deleteButton:hover {
    background-color: #aeb0d9;
    color: #000000;
}

.blink {
    background-color: #e7e8f6;
}

.slowTransition {
    transition: 0.2s;
}










